.CheckboxRoot {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 4px;
}
.CheckboxRoot:hover {
  background-color: lightgray;
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  color: var(--violet-11);
}

.Label {
  color: black;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}
